header {
  background: $white;
  padding: 30px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  animation: slideUp 300ms linear;
  
  .item-cont {
    padding: 0 0 20px 0;
  }
  
  .item-cont:last-child {
    padding: 0;
  }

  // Logo
  .brand {
    text-align: center;
  }
  
  .logo {
    width: 180px;
  }

  // Cart
  .shopping-cart {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;
  }

  .cart-icon {
    margin-left: 15px;
  }

  .show-grid {
    text-align: center;
    display: block;
  }
  
  .cart-bag {
    width: 35px;
  }

  .cart-info table {
    font-size: 14px;
    color: $primary-blue;
    text-align: right;
    tr {
      padding: 0;
      margin: 0;
    }
    td {
      padding: 0 4px;
      line-height: 16px;
    }
  }
  
  .search-button {
    border: 0;
    border-radius: 0 2px 2px 0;
    background: $primary-blue;
    width: 50px;
    height: 30px;
    padding-top: 2px;
  }

  .search-keyword {
    width: 80%;
    height: 30px;
    border: 1px solid $primary-blue;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
  }

  .search-icon {
    width: 20px;
  }
  
  .cart-count {
    display: block;
    position: absolute;
    background: $primary-orange;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    top: -6px;
    right: -9px;
  }

  .cart-preview {
    display: none;
    background: $white;
    border: 1px solid $gray-eighty;
    &:before {
      content: "";
      position: absolute;
      display: block;
      top: -9px;
      right: 58px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $gray-eighty;
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: -7px;
      right: 59px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $white;
      z-index: 1;
    }
  }
  .cart-preview.active {
    z-index: 99;
    display: block;
    position: absolute;
    top: 48px;
    width: 300px;
    height: 360px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @media (min-width: 768px) {
    .show-grid {
      display: flex;
      align-items: center;
    }

    .item-cont {
      padding: 0;
    }

    .search-keyword {
      margin-top: 3px;
    }
  }

}